.kaufman__triangle {
  width: 877px;
  height: 877px;
  color: #2f80ed;
  z-index: 1;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
}
