































.techniques {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 920px;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards-item {
  width: 240px;
  text-align: center;
  margin-right: 100px;
}

.cards-item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 16px;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.video__iframes {
margin: 0px auto 0;
transform: translate(0, 50px);
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

.video__iframe:nth-of-type(2n) {
  margin-right: 0;
}

.oakley {
  display: flex;
  justify-content: center;
  padding-top: 160px; /*сверху 160 ок, а сбоку нет!!!*/
  margin: 0 auto;
  background-color: #f2f2f2;

}

.digits {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  align-self: center;
}

.section-subtitle {
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  align-self: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  align-items: stretch;
  align-self: center;
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0;
}

.feynman {
  display: flex;
  flex-direction: column;
  min-height: 890px;
  position: relative;
  justify-content: flex-start;
  background-color: #f2f2f2;
}

.feyman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 648px;
  z-index: 3;
  align-self: center;
  margin: 100px 0 70px;
  align-items: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
  z-index: 3;
  margin: 0;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:hover {
  opacity: 0.33;
  transition: opacity 0.5s ease;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: 2;
}

.khan {
  display: flex;
}

.khan__container {
  width: 80%;
  margin: 105px auto 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan_title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px;;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;;
}

.khan__buy-link:hover {
  opacity: 0.33;
  transition: opacity 0.5s ease;
}

.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  color: white;
  padding: 90px 0;
}

.section-title_theme_dark {
  margin-top: 0;
  z-index: 2;
}

.table_theme_dark {
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  color: #2f80ed;
  z-index: 1;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

.resources {
  display: flex;
  flex-direction: column;
}

.resources__logo-zone {
  display: flex;
  list-style: none;
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}


.footer {
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copiright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  list-style: none;
  margin: 0 0 16px;
  padding-left: 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 0.33;
  transition: opacity 0.5s ease;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
